{% extends "homelayout.html" %}
{% block content %}
	<center>
		<div>
		    <center> <p class="title">PHILLY PHOODIES</p></center></br>

		    <form class="form" method='POST' action="{{ url_for('search') }}">
		    <input type='text' name='searchbar' placeholder='Search'/>

		    <select class="btn btn-outline-secondary name="price" id="price">
		      <option value="$">$</option>
		      <option value="$$">$$</option>
		      <option value="$$$">$$$</option>
		      <option value="$$$$">$$$$</option>
		    </select>

		    <select class="btn btn-outline-secondary name="distance" id="distance">
		      <option value="1MileAway">1 Mile Away</option>
		      <option value="3MileAway">3 Miles Away</option>
		      <option value="5MileAway">5 Miles Away</option>
		      <option value="7MileAway">7 Miles Away</option>
		    </select>

		    <input type="submit" class="btn btn-outline-secondary" id="enter" value="Enter" />


		    </br>
		</form>
		</div>
	</center>
{% endblock content %}